*,
*::after,
*::before {
    box-sizing: border-box;
    // height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: #000;
}

.container {
    max-width: 70vw;
    margin: 0 15vw;
    min-height: 100vh;
}



.social__link {
    font-size: 2vh;
    width: 3vw;
    height: 2vh;
    position: relative;
}

.social__link:hover .arrow-r {
    transform: rotate(180deg);
    transition: all 0.5s;
}

.arrow-r {
    filter: invert(100%);
    position: absolute;
    right: -6.5vw;
    top: -0.1vw;
    height: 20px;
    width: 20px;
}

.arrow-r:hover {
    right: -6vw;
    transform: rotate(180deg);
    transition: all 0.5s;
}

.link {
    margin-left: 3vh;
}



.link-grid {
    display: grid;
    font-size: 2vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vw 2vw;
    color: #fff;
    position: relative;
}
.link__link:hover .arrow-rr {
    transform: rotate(180deg);
    transition: all 0.5s;
}

.arrow-rr {
    filter: invert(100%);
    position: absolute;
    left: 10vw;
    top: -0.1vw;
    height: 20px;
    width: 20px;
}

.arrow-rr:hover {
    transform: rotate(180deg);
    transition: all 0.5s;
}

.sponsors__logo {
    display: flex;
    justify-content: space-around;
}

.sponsor {
    margin-bottom: 5vh;
}

.twitch__logo:hover,
.steam__logo:hover {
    opacity: 1;
}
.twitch__logo,
.steam__logo {
    height: 100%;
    width: 100%;
    max-width: 340px;
    max-height: 180px;
    opacity: 0.5;
}

@media screen and (max-width: 700px) {
    .media__content,
    .media__resurce {
        display: flex;
        flex-direction: column;
        float: left;
    }

    .link__title {
        margin-left: 0;
    }

    .twitch__title {
        margin-left: 0;
    }
    
    .social__title,
    .link__title,
    .sponsor__title,
    .video__yt,
    .twitch__title {
        margin-bottom: 4vh;
    }

    .abscontent-center {
        font-size: 20vw;
    }

    .abscontent-center::after {
        font-size: 3vw;
    }

    .abscontent-left {
        width: 7vw;
        height: 7vh;
        left: 5%;
        top: 3%;
    }

    .social,
    .link,
    .sponsors,
    .video,
    .twitch {
        height: 18vh;
    }

    .setup__block {
        color: #fff;
        font-size: 0.5vh;
        
    }
    
    .setup__block-sub {

        color: #999;
        font-size: 0.1vh;
    }

    .setup-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1vw 1vw;
        grid-template-areas: 
        ". . . ."
        ". . . .";
    }

    .social__link {
        position: relative;
        font-size: 2vh;
    }

    .arrow-r {
        position: absolute;
        left: 15vw;
        top: -5px;
    }

    .link,
    .twitch {
        margin-left: 0vh;
    }

    .arrow-rr {
        left: 20vw;
        top: -0.5vw;
        height: 20px;
        width: 20px;
    }

    .sponsors__logo {
        display: flex;
        flex-direction: column;
    }
    .sponsors {
        margin-bottom: 38vw;
    }
    
    .twitch__logo,
    .steam__logo {
    height: 100%;
    width: 100%;
    max-width: 450px;
    opacity: 0.8;
    }

    .setup {
        margin-top: 7vh;
    }
}

.abscontent {
    display: flex;
    flex-direction: row;
    background: rgb(252,252,252);
    background: linear-gradient(0deg, rgba(252,252,252,0) 0%, rgba(210, 0, 0, 0.62) 53%, rgba(255,0,0,0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    min-height: 100vh;
}


.abscontent-center {
    font-size: 10vw;
    color: #fff;
    height: 14vh;
    margin: auto;
    cursor: default;
    user-select: none;
}
.abscontent-center::after {
    content: "®";
    font-size: 2.5vw;
    color: #fff;
    float: right;
    margin-top: 1vw;
}

.abscontent-left {
    content: "";
    background-image:url(images/sm-logo.svg);
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vh;
    left: 1%;
    top: 1%;
    position: fixed;
}

.container__media {
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
    flex-wrap: wrap;
}

.media__resurce {
    display: flex;
    justify-content: left;
}

.media__content,
.media__sponsors,
.media__resurce {
    min-height: 5vh;
}

.social__title,
.link__title,
.sponsor__title,
.video__yt,
.twitch__title {
    color: #fff;
    font-size: 4vh;
    min-width: 35vw;
    border-bottom: 2px solid #999;
    margin-bottom: 3vh;
    cursor: default;
    user-select: none;
}

.social,
.link,
.sponsors,
.video,
.twitch {
    min-height: 10vh;
    cursor: default;
    user-select: none;
}



.setup {
    cursor: default;
    user-select: none;
    display: flex;
    color: #fff;
    font-size: 4vh;
    border-bottom: 2px solid #999;
    margin-bottom: 1vh;
    // margin-top: 8vh;
}

.setup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vw 2vw;
    margin-bottom: 5vh;
}

.setup__block {
    color: rgb(195, 195, 195);
    font-size: 2.5vh;
    cursor: default;
    user-select: none;
}

.setup__block-sub {
    color: rgb(124, 124, 124);
    font-size: 1.5vh;
    cursor: default;
    user-select: none;
}

.social-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vw 2vw;
    color: #fff;
    margin-bottom: 5vh;
}

.link__title__link {
    margin-left: 10px;
}

.twitch__title-a {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4vh;
}